---
import '../styles/global.css';
import BlogPost from '../components/BlogPost.astro';
import type { Post } from '../interfaces/Post';
import BaseLayout from '../layouts/BaseLayout.astro';

// Usamos { eager: true } para que se carguen de inmediato los módulos.
const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
) as Post[];
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aquí es donde publicaré mis diferentes artículos.</p>
  <ul>
    {
      allPosts.map((post: Post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
<style>
  p {
    font-size: larger;
  }
</style>
