---
const github = 'https://github.com/efe13dev';
const website = 'https://efe-13.es';
const linkedIn = 'https://www.linkedin.com/in/efe-13/';
---

<footer>
  <p>¡Más información sobre mis proyectos en</p>
  <a href={github} target="_blank" rel="noopener noreferrer">Github</a>
  <a href={website} target="_blank" rel="noopener noreferrer">Mi sitio Web</a>
  <a href={linkedIn} target="_blank" rel="noopener noreferrer">LinkedIn</a>
</footer>
