---
import Social from './Social.astro';
---

<footer>
  <p>¡Más información sobre mis proyectos en</p>
  <Social platformLink="https://github.com/efe13dev" platformName="Github" />
  <Social
    platformLink="https://www.linkedin.com/in/efe13-dev/"
    platformName="LinkedIn"
  />
  <Social platformLink="https://efe-13.es" platformName="Website" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
