---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { pageTitle } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body style="min-height: 100vh; display: flex; flex-direction: column;">
    <Header />
    <main style="flex: 1;">
      <h1>{pageTitle}</h1>
      <slot />
    </main>
    <Footer />
    <script>
      import '../scripts/menu.js';
    </script>
  </body>
</html>
