---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p class="published">
    Publicado el: {frontmatter.pubDate.toString().slice(0, 10)}
  </p>
  <p>Escrito por {frontmatter.author}</p>
  <slot />
</BaseLayout>

<style>
  .published {
    color: #888;
    font-weight: bold;
  }
</style>
